

  .button{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    border-radius: 5px ;
    gap: 1.05rem; 
    text-align: center;
    text-indent: 5%;
    

    .button-next{
      background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
      color: black;
    }
  }



  .button-reset{
    background-color: rgb(43, 195, 226);
    color: black;

  }


  @media screen and (min-width: 768px) {
    .button{
      height: 30%;
      width: 40%;
      align-items: center;
    display: flex;
    flex-direction: row;
     
    }
  }