

  .button{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    border-radius: 12px ;
    gap: 1.05rem; 

    .button-next{
      background-color: pink;
    }
  }



  .button-reset{
    background-color: rgb(150, 226, 43);
  }


  @media screen and (min-width: 768px) {
    .button{
      height: 30%;
      width: 30%;
      align-items: center;
    
     
    }
  }